
body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    size: 300% !important;
	
    background: rgb(255, 255, 255);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(255, 255, 255)), to(rgb(255, 255, 255)));
    background: -webkit-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background:    -moz-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background:     -ms-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background:      -o-radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background:         radial-gradient(rgb(255, 255, 255), rgb(255, 255, 255));    
}

b, strong { font-weight: bold }
i, em { font-style: italic }

.small { font-size: 70% }
.huge { font-size: 150% }

/*
    Because the main point behind the impress.js demo is to demo impress.js
    we display a fallback message for users with browsers that don't support
    all the features required by it.
    
    All of the content will be still fully accessible for them, but I want
    them to know that they are missing something - that's what the demo is
    about, isn't it?
    
    And then we hide the message, when support is detected in the browser.
*/

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

li {
    list-style-type:disc;
    color:#9b243e;
}

li span {
    color:black;
} 

.step {
    position: relative;
    width: 900px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}
